{%extends "backend.html" %}

{% block content %}
<div>Add Menu de la Semaine</div>
<form action="" method="post">
        <div><span>Day 1:</span><input type="text" name="item"><input type="text" name="entree"><input type="date"
                        name="date"></div>
        <div><span>Day 2:</span><input type="text" name="item"><input type="text" name="entree"><input type="date"
                        name="date"></div>
        <div><span>Day 3:</span><input type="text" name="item"><input type="text" name="entree"><input type="date"
                        name="date"></div>
        <div><span>Day 4:</span><input type="text" name="item"><input type="text" name="entree"><input type="date"
                        name="date"></div>
        <div><span>Day 5:</span><input type="text" name="item"><input type="text" name="entree"><input type="date"
                        name="date"></div>
        <div><span>Day 6:</span><input type="text" name="item"><input type="text" name="entree"><input type="date"
                        name="date"></div>
        <div><input type="submit" value="ADD"></div>
        <div><a href="/logout">logout</a></div>
</form>


{% endblock content%}