{%extends "layout.html" %}

{% block content %}
<nav>
    <ul>
        {% for page in pages %}
        <li><a href="#{{page.name}}">{{page.name}}</a></li>
        {% endfor %}
        <li><a href="/login">LOGIN</a></li>
    </ul>
</nav>


<div id="food-menu">
    {% for food in foodMenu %}
    <div class="day">
        <div>{{food.day}}</div>
        <div>{{food.item}}</div>
        <div>{{food.entree}}</div>

    </div>
    {% endfor %}
</div>


{% for page in pages %}
<div id="{{page.name}}">{{page.content|safe}}</div>
{% endfor %}

{% endblock content%}